@import url('https://fonts.googleapis.com/css?family=Nunito+Sans+800');
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  margin: 0;
}
svg {
  height: 200px;
  stroke-width:4;
}
.pig {
  stroke-dasharray: 319 319;
  stroke-dashoffset: 0px;
}
.calculator {
  stroke-dasharray: 0 252;
  stroke-dashoffset: 0px;
}
.wallet {
  stroke-dasharray: 0 240;
  stroke-dashoffset: 0px;
}
.loading {
  margin-bottom: 30px;
  text-align: center;
  width: 200px;
}
